<%= button_to "今日の体調を登録する", new_health_record_path, method: :get, class: "btn btn-default" %>

<p>最近更新されたお店</p>
<% @shops.each do |shop| %>
  <div>
    <label class="span2"><%= shop.name %><label>
    <%= image_tag(shop.photo.url(:thumb)) if shop.photo.present? %>
  </div>
<% end %>